/*Formulaire*/
.champs-groupe {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--coul-principale-pale-vert);
    margin-bottom: 0.5rem;
}

input {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--coul-principale-moyen-bleu);
    padding: 0.5rem;
    border: 2px solid var(--coul-principale-fonce);
    border-radius: 5px;
    background-color: var(--coul-blanc);
    margin-bottom: 1rem;
}
