@keyframes toastAnim {
    0% {
        top: -200px;
        opacity: 0;
    }

    25% {
        top: var(--xl-space);
        opacity: 1;
    }

    75% {
        top: var(--xl-space);
        opacity: 1;
    }

    100% {
        top: -200px;
        opacity: 0;
    }
}

.toast {
    position: absolute;
    left: 50%;
    top: -200px;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--xl-space);

    background-color: var(--coul-noir);
    border: 4px solid var(--coul-blanc);
    border-radius: 5px;
    box-shadow: 0 0 5px 5px var(--coul-principale-pale-bleu);
    transition: all 500ms;

    opacity: 0;
}

.toast .toast__message {
    margin: 0;
}

.toast[data-visible="true"] {
    animation: "toastAnim" 3000ms ease-in-out;
}
