.modale-verrou {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.modale__conteneur {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.386);
    display: flex;
    justify-content: center;
    align-items: center;

    & .modale__carte {
        background-color: white;
        color: black;
        border-radius: 5px;
        height: 40%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.invisible {
        display: none;
    }
}
