@import url(./reset/reset.css);
@import url(./base/colors.css);
@import url(./base/rhythm.css);
@import url(./base/typography.css);
@import url(./components/buttons.css);
@import url(./components/toast.css);
@import url(./components/form.css);
@import url(./layout/liste.css);
@import url(./layout/navigation.css);

/* Elements spécifiques au projet */
@import url(./components/filtres.css);
@import url(./components/shoppingModal.css);
@import url(./components/livreModal.css);

main {
    padding: var(--xl-space);
}

.invisible {
    display: none;
}

.debug {
    outline: 2px dashed tomato;
}
