@keyframes titreAnim {
    0% {
        color: var(--color-secondary-800);
    }

    100% {
        color: var(--color-secondary-100);
        text-shadow: 0px 0px 30px var(--color-secondary-100);
    }
}
