/* Styles de base */
:root {
    --coul-noir: #191919;
    --coul-blanc: #fff;
    --coul-principale-fonce: #13538b;
    --coul-principale-moyen-bleu: #2c8ccb;
    --coul-principale-pale-bleu: #36b7da;
    --coul-principale-moyen-vert: #3cbdbb;
    --coul-principale-pale-vert: #80cdcc;

    --coul-accent-fonce: #a88815;
    --coul-accent-moyen: #ffc700;
    --coul-accent-pale: #fce38b;
}
