/* Styles de base */
:root {
    --sm-space: 8px;
    --md-space: 12px;
    --lg-space: 16px;
    --xl-space: 24px;
}

.mb-1 {
    margin-bottom: var(--sm-space);
}

.mb-2 {
    margin-bottom: var(--md-space);
}

.mb-3 {
    margin-bottom: var(--lg-space);
}

.mb-4 {
    margin-bottom: var(--xl-space);
}

.mt-1 {
    margin-top: var(--sm-space);
}

.mt-2 {
    margin-top: var(--md-space);
}

.mt-3 {
    margin-top: var(--lg-space);
}

.mt-4 {
    margin-top: var(--xl-space);
}
