@import url("./base/reset.css");
@import url("./base/variables.css");
@import url("./base/general.css");

@import url("./components/toast.css");
@import url("./layout/todo.css");

.utilisateur {
    color: tomato;
    transition: all 350ms;
}
.utilisateur:hover {
    transform: rotate(90deg);
}
