@import url("./base/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    padding: 0.5rem;
}

h1 {
    font-size: 2.5rem;
    font-family: "Gwendolyn", cursive;
}
h2 {
    font-family: "Gwendolyn", cursive;
    font-size: 1.5rem;
}
header {
    padding: 2rem 0.75rem;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;

    & .card {
        position: relative;
        flex-basis: calc(33% - 1rem);
        display: flex;
        flex-direction: column;

        border: 1px solid #000;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        & .img-container {
            flex: auto;
            flex-basis: 70%;
            border-radius: 0.5rem 0.5rem 0 0;
            & img {
                width: 100%;
                object-fit: cover;
                border-radius: 0.5rem 0.5rem 0 0;
                aspect-ratio: 1;
            }
        }
        & .like-btn {
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
            align-self: flex-end;
            font-size: 3rem;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }

        & .infos-container {
            flex: auto;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            & .infos__titre {
                font-weight: bold;
                color: #000;
            }

            & .infos__categorie {
                font-size: 0.9rem;
                font-weight: bold;
                color: #000;
                padding: 0.25rem 0 1rem;
            }
        }

        &.favoris {
            border: 2px solid fuchsia;
        }

        &:hover {
            background-color: #f0f0f0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }
}

.estampe {
    background-color: rgb(255, 140, 0);
}
