.liste {
    display: flex;
    flex-wrap: wrap;
    gap: var(--lg-space);
}

.liste .item {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--coul-accent-fonce);
    flex-basis: calc(50% - var(--lg-space));
    text-align: center;
    padding: var(--lg-space);
}
.liste .item .fa {
    cursor: pointer;
}
.liste .item.invisible {
    display: none;
}
