.liste {
    display: flex;
    flex-wrap: wrap;
    gap: var(--lg-space);
}

.liste .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--coul-accent-fonce);
    flex-basis: calc(50% - var(--lg-space));
    text-align: center;
}

.liste .item.invisible {
    display: none;
}
