main {
    display: flex;
    align-items: center;
    gap: 2rem;
    & h2 {
        font-family: "Shadows Into Light", cursive;
        font-size: 3rem;
        color: var(--color-primary);
    }
}
.instruments-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50vh;
    height: 100%;

    width: 100%;
    padding: 3rem;

    & .instrument-button {
        padding: 4rem;
        border-radius: 50%;
        aspect-ratio: 1;
        cursor: pointer;
        background-color: var(--color-primary);
        color: white;
        font-family: "Shadows Into Light", cursive;
        border: 5px solid var(--color-warning);

        transition: all 0.3s ease-in-out;
        & span {
            font-size: 1.5rem;
        }

        &:hover {
            background-color: color-mix(in oklab, var(--color-primary) 70%, white 30%);
            border-color: color-mix(in oklab, var(--color-warning) 50%, yellow 50%);
        }

        &:first-child {
            align-self: flex-start;
            background-color: var(--color-danger);
            &:hover {
                background-color: color-mix(in oklab, var(--color-danger) 70%, white 30%);
            }
        }
        &:nth-child(2) {
            background-color: var(--color-info);
            &:hover {
                background-color: color-mix(in oklab, var(--color-info) 70%, white 30%);
            }
        }
        &:last-child {
            align-self: flex-start;
            background-color: var(--color-success);
            &:hover {
                background-color: color-mix(in oklab, var(--color-success) 70%, white 30%);
            }
        }
    }
}
