[data-app] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    & header {
        & h1 {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    & nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--coul-blanc);
        padding: 1rem;

        & a {
            text-decoration: none;
            color: var(--coul-noir);
            margin: 0 1rem;
            font-size: 1.15rem;
            &:hover {
                color: #696969;
            }
        }
    }
    & section {
        & h2 {
            font-weight: 600;
        }
    }

    & .liste-taches {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        & .tache {
            border: 2px solid var(--coul-principale);
            border-radius: 15px;
            padding: 1rem;
            cursor: pointer;
            &:hover {
                background-color: var(--coul-principale);
                color: var(--coul-blanc);
            }
        }
    }
    & .btn:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.fa {
    margin-right: 5px;
}
/* Garder à la fin */
.invisible {
    display: none;
}
