.btn,
button {
    border-radius: 15px;
    background-color: var(--coul-principale-fonce);
    color: var(--coul-blanc);

    min-width: 10vw;
    width: fit-content;
    padding: 1rem;
    cursor: pointer;
    border: 2px solid var(--coul-principale-pale-bleu);
    transition: border 300ms, background-color 300ms;
    text-align: center;
    margin: 1rem 0;
    font-weight: 900;
    font-size: var(--font-xxs);
    text-transform: uppercase;
}

.btn p {
    color: var(--coul-blanc);
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0;
}

.btn:hover {
    background-color: var(--coul-principale-fonce);
}

.btn:active {
    background-color: var(--coul-principale-moyen-vert);
    border-color: var(--coul-blanc);
}

.btn.danger {
    background-color: var(--coul-accent-moyen);
    border: 2px solid var(--coul-accent-pale);
}

.btn.danger:hover {
    background-color: var(--coul-accent-fonce);
}

.btn.danger:active {
    background-color: var(--coul-accent-pale);
    border-color: var(--coul-blanc);
}

.btn-groupe {
    display: flex;
    justify-content: space-between;
}
