button {
    padding: 1rem;
    background-color: var(--color-primary);
    border: 2px solid var(--color-light);
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5rem;
    color: var(--color-light);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: color-mix(in oklab, var(--color-primary) 70%, var(--color-black) 30%);
    }
}
