@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
    font-family: "Retrogaming";
    src: url("../../font/retrogaming/RetroGaming.ttf") format("truetype");
}
:root {
    --font-main: "Retrogaming", Arial, Helvetica, sans-serif;
    --font-accent: "Inter", Arial, Helvetica, sans-serif;
    --font-xxs: 0.5rem;
    --font-xs: 0.75rem;
    --font-s: 0.875rem;
    --font-m: 1.25rem;
    --font-l: 1.5rem;
    --font-xl: 1.75rem;
    --font-xxl: 2rem;
    --font-xxxl: 3rem;
}

html,
body {
    padding: var(--space-m);
    font-family: var(--font-main);
    color: var(--coul-blanc);
    font-weight: 500;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: var(--space-m);
}

h1 {
    font-size: clamp(4rem, 3.3333rem + 2.1333vw, 6rem);
    font-weight: 900;
    margin-bottom: var(--space-l);
    color: var(--coul-accent-fonce);
    text-shadow: 0 0 5px var(--coul-blanc);
}

h2 {
    font-size: var(--font-xl);
    font-weight: 700;
    color: var(--coul-principale-moyen-bleu);
}

h3 {
    font-size: var(--font-l);
    font-weight: 500;
    color: var(--coul-principale-moyen-vert);
}

h4 {
    font-size: var(--font-m);
    font-weight: 400;
    letter-spacing: 0.075rem;
    color: var(--coul-principale-pale-bleu);
}

p {
    font-size: var(--font-m);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.025rem;
    color: var(--coul-principale-pale-vert);
}

hr {
    height: var(--space-xs);
    background-color: var(--coul-principale-moyen-vert);
    border: none;
    margin-bottom: var(--space-l);
}
